*.tar.*
pkg
src

chromium-oqs-bin/*.tgz
chromium-vaapi-oqs/boringssl
chromium-vaapi-oqs/liboqs
linux-lantian/linux-lantian
linux-xanmod-lantian-60fps/linux-xanmod-lantian-60fps
linux-xanmod-lantian/linux-xanmod-lantian
linux-zen-lantian/linux-zen-lantian
