*.tar.*
pkg
src

chromium-vaapi-oqs/boringssl
chromium-vaapi-oqs/liboqs

chromium-oqs-bin/*.tgz

linux-lantian/linux-lantian

linux-zen-lantian/linux-zen-lantian

linux-xanmod-lantian/linux-xanmod-lantian
